article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #0000ff; color: #fff; text-shadow: none; }
::selection { background: #0000ff; color: #fff; text-shadow: none; }

a, a:visited { color: #fff; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ==|== primary styles 
   =====================================================*/

@font-face {
    font-family: 'KomikaTitle-PaintRegular';
    src: url('fonts/komikatitle-paint-webfont.eot');
    src: url('fonts/komikatitle-paint-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/komikatitle-paint-webfont.woff') format('woff'),
         url('fonts/komikatitle-paint-webfont.ttf') format('truetype'),
         url('fonts/komikatitle-paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/opensans-semibold.eot');
    src: url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold.woff') format('woff'),
         url('fonts/opensans-semibold.ttf') format('truetype'),
         url('fonts/opensans-semibold.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DigitaldreamFatRegular';
    src: url('fonts/digitaldreamfat-webfont.eot');
    src: url('fonts/digitaldreamfat-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/digitaldreamfat-webfont.woff') format('woff'),
         url('fonts/digitaldreamfat-webfont.ttf') format('truetype'),
         url('fonts/digitaldreamfat-webfont.svg#DigitaldreamFatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #80c1d6 url(../img/texture-blue.png) repeat 0 0;
	width: 100%;
}


#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}


nav {
	background: rgba(0, 0, 0, 0.2);
	height: 32px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;
	top: 5px;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	width: 600px;
	height: 32px;
}

nav li {
	display: inline-block;
	width: auto;
	margin: 6px;
	padding: 0 18px;
}

nav li a, nav li a:visited {
	color: #fff;
	font-family: OpenSansSemibold, Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

nav li a:hover {
	color: #e9ec38;
}


header, section {
	width: 100%;
	overflow: hidden;
}

header .page, section .page, footer {
	width: 960px;
	margin: 0 auto;
	position: relative;
	color: #fff;
}

section h1 {
	color: #fff;
	font-size: 40px;
	font-family: KomikaTitle-PaintRegular, Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px rgba(0,0,0,0.2), 4px 4px rgba(0,0,0,0.2);

    background-image: url(../img/checks.png);
	background-repeat: no-repeat;
	display: block;
	width: auto;
}}


section .checks {
	background-color: #DBB202;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(.67, black), color-stop(.67, #DBB202));
	-webkit-background-size: 20px 20px;
	
	background: -moz-repeating-linear-gradient(top left 45deg, black, black 5px, #DBB202 5px, #DBB202 10px);
    background-size: 20px 20px;
	
    /*background-image: url(../img/checks.png);
	background-repeat: no-repeat;*/
	display: block;
	width: auto;
}

section, footer {
	border-top: 5px solid rgba(0,0,0,0.1);
	border-bottom: 5px solid rgba(0,0,0,0.2);
}


#home {
	background: url(../img/splash.png) no-repeat center center;
	height: 714px;
}

#home h1 {
	background: url(../img/logo.png) no-repeat 0 0;
	width: 502px;
	height: 449px;
	display: inline-block;
	text-indent: -99999px;
	position: absolute;
	left: 175px;
	top: 50px;
}

#home h1 a, #home h1 a:visited {
	width: 100%;
	height: 100%;
	display: block;
}

#home h2 {
	color: #fe6537;
	font-size: 52px;
	font-family: KomikaTitle-PaintRegular, Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px #fff, 4px 4px #fff, 6px 6px #fff;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 510px;
}

#home h3 {
	color: #fff;
	position: relative;
	text-align: center;
	top: 505px;
	font-size: 22px;
	font-weight: normal;
}

#obstacles {
	background: #fe6638;
}

#obstacles h1 {
	background-position: 259px 8px;
}

#obstacles ul {
	list-style: none;
	width: 525px;
}
#obstacles ul li {
	height: 355px;
	width: 220px;
	overflow: hidden;
	display: inline;
	margin: 5px;
	padding: 10px;
	font-family: KomikaTitle-PaintRegular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
}

#prizes {
	background: #80b238;

}

#prizes h1 {
	background-position: 180px 8px;
}

#prizes ul {
	width: 100%;
	list-style: none;
}

#prizes li {
	display: inline-block;
	width: 340px;
	font-size: 16px;
	font-family: KomikaTitle-PaintRegular, Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 20px 50px;
}

#prizes li img {
	clear: both;
}

#contestants {
	border-bottom: none;
	
}

#contestants h1 {
	background-position: 420px 8px;
}

#contestants h1:last-child {
	background: none;
}

#contestants form {
	width: 425px;
	float: left;
}

#contestants form label {
	text-indent: -99999px;
	display: none;
}

#contestants .page input {
	background: #fe6336;
	color: #fff;
	padding: 10px;
	margin: 9px 0;
	font-size: 16px;
	font-family: KomikaTitle-PaintRegular, Arial, Helvetica, sans-serif;
}

#contestants form #name, #contestants form #email, 
#contestants form #team-name, #contestants form #photo-url {
	width: 380px
}

#contestants form #team-color {
	width: 210px;
	margin-right: 20px;
	float: left;
}
#contestants form #gender {
	width: 125px;
	float: left;
}

#contestants form #submit {
	background: url(../img/submit.png) no-repeat center center;
	border: none;
	width: 228px;
	height: 155px;
	display: inline-block;
	padding: 0;
	margin: 0 0 150px 0;
	left: 90px;
	position: relative;
}

.left {
	width: 480px;
	display: inline-block;
	float: left;
}

.right {
	width: 480px;
	display: inline-block;
}

#contestants .counter {
	width: 398px;
	height: 336px;
	background: url(../img/bg-counter.png) no-repeat center;
	color: #f5eb00;
	font-family: DigitaldreamFatRegular, courier, monotype;
	text-shadow: 1px 1px 0 #000, 3px 3px 0 #000, 5px 5px 0 #000;
	position: relative;
	margin: 0 auto;
}

#contestants .counter span {
	font-size: 130px;
	display: block;
	text-align: center;
	position: relative;
	top: 90px;
}

#contestants .right h1 {
	width: 250px;
	display: inline-block;
}

footer {
	
}

footer .page {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	width: 520px;
}

footer .kn {
	background: url(../img/bg-kn.png) no-repeat center;
	position: relative;
	margin: 0 auto;
	font-size: 50px;
	font-family: KomikaTitle-PaintRegular, Arial, Helvetica, sans-serif;
	text-align: center;
	width: auto;
	display: inline-block;
	padding: 12px 32px;
	top: -40px;
	left: 410px;
	z-index: 2;
}

footer h2 {
	text-align: center;
	padding: 0;
	margin: 0;
}
footer .left {
	float: left;
	text-align: right;
	width: auto;
	display: inline-block;
}

footer .right {
	float: right;
	width: auto;
	display: inline-block;
}

aside {
	text-align: center;
	color: #fff;
}




/* ==|== non-semantic helper classes ========================================
   ========================================================================== */
.fl { float: left }
.fr { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
   
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}