article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}audio,canvas,video{display:inline;zoom:1;}html{-ms-overflow-y:scroll;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:100%;overflow-y:scroll;}body{font-size:13px;line-height:1.231;margin:0;}body,button,input,select,textarea{color:#222;font-family:sans-serif;}a,a:visited{color:#fff;}a:hover{color:#06e;}b,strong{font-weight:700;}dfn{font-style:italic;}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0;}small{font-size:85%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}ul,ol{margin:1em 0;padding:0 0 0 40px;}dd{margin:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}img{-ms-interpolation-mode:bicubic;border:0;vertical-align:middle;}svg:not(:root){overflow:hidden;}fieldset{border:0;margin:0;padding:0;}label{cursor:pointer;}legend{border:0;margin-left:-7px;padding:0;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:middle;}button,input{line-height:normal;}button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;overflow:visible;}input[type="checkbox"],input[type="radio"]{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}input[type="search"]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{-moz-resize:vertical;-webkit-resize:vertical;overflow:auto;resize:vertical;vertical-align:top;}input:invalid,textarea:invalid{background:#f0dddd;}audio:not([controls]),[hidden]{display:none;}::-moz-selection,::selection{color:#fff;text-shadow:none;}a:focus,a:hover,a:active{outline:0;}figure,form{margin:0;}


/* ==|== primary styles
=====================================================*/
@font-face {
	font-family: 'KomikaTitle-Regular';
	src: url('fonts/komikatitle-paint-webfont.eot');
	src: url('fonts/komikatitle-paint-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/komikatitle-paint-webfont.woff') format('woff'),
		 url('fonts/komikatitle-paint-webfont.ttf') format('truetype'),
		 url('fonts/komikatitle-paint-webfont.svg#KomikaTitle-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KomikaTitle-Wide';
	src: url('fonts/komikatitle-wide-webfont.eot');
	src: url('fonts/komikatitle-wide-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/komikatitle-wide-webfont.woff') format('woff'),
		 url('fonts/komikatitle-wide-webfont.ttf') format('truetype'),
		 url('fonts/komikatitle-wide-webfont.svg#KomikaTitle-Wide') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('fonts/opensans-semibold.eot');
	src: url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/opensans-semibold.woff') format('woff'),
		 url('fonts/opensans-semibold.ttf') format('truetype'),
		 url('fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DigitaldreamFat';
	src: url('fonts/digitaldreamfat-webfont.eot');
	src: url('fonts/digitaldreamfat-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/digitaldreamfat-webfont.woff') format('woff'),
		 url('fonts/digitaldreamfat-webfont.ttf') format('truetype'),
		 url('fonts/digitaldreamfat-webfont.svg#DigitaldreamFat') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #80c1d6 url(../img/noise-blue.png) repeat;
	width: 100%;
}

#container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

nav {
	background-image: url(../img/bg-nav.png); /* IE FIX */
	background-repeat: repeat-x;
	background: rgba(0, 0, 0, 0.1);
	height: 32px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;
	top: 5px;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	width: 600px;
	height: 32px;
}

nav li {
	display: inline-block;
	width: auto;
	margin: 6px;
	padding: 0 18px;
}

nav li a, nav li a:visited {
	color: #fff;
	font-family: OpenSansSemibold, Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 3px rgba(200,200,200,0.9);
}

nav li a:hover { color: #e9ec38; }

header, section {
	width: 100%;
	overflow: hidden;
}

header .page, section .page, footer {
	width: 960px;
	margin: 0 auto;
	position: relative;
	color: #fff;
	overflow: hidden;
}

section h1 {
	color: #fff;
	font-size: 40px;
	font-family: KomikaTitle-Regular, Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px rgba(0,0,0,0.2), 4px 4px rgba(0,0,0,0.2);
	background-image: url(../img/sprite-imgs.png);
	background-repeat: no-repeat;
	display: block;
	width: auto;
	letter-spacing: 1.8px;
}

section, footer {
	border-top: 5px solid rgba(30,30,30,0.1);
	border-bottom: 5px solid rgba(30,30,30,0.1);
}

/* Page Specific Styles */

#home { background: url(../img/noise-blue.png) repeat, url(../img/splash.png) no-repeat center center; }
#home .page { height: 714px; }

#home h1 {
	background: url(../img/sprite-imgs.png) no-repeat right 0px;
	width: 502px;
	height: 449px;
	display: inline-block;
	text-indent: -99999px;
	position: absolute;
	left: 175px;
	top: 50px;
}

#home h1 a, #home h1 a:visited {
	width: 100%;
	height: 100%;
	display: block;
}

#home h2 {
	color: #fe6537;
	font-size: 52px;
	font-family: KomikaTitle-Regular, Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px #fff, 4px 4px #fff, 6px 6px #fff;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 510px;
}

#home h3 {
	color: #fff;
	position: relative;
	text-align: center;
	top: 505px;
	font-size: 22px;
	font-weight: normal;
}


/* Obstacles */

#obstacles { background: #fe6638 url(../img/noise-orange.png) repeat; }
#obstacles .page { }
#obstacles h1 { background-position: 278px bottom; }

#obstacles ul {
	list-style: none;
	width: 455px;
	display: inline-block;
	margin: 0 0 50px 0;
	padding: 0;
}

#obstacles li {
	background: #80B238 url(../img/noise-green.png) repeat;
	width: 190px;
	height: 221px;
	overflow: hidden;
	display: inline-block;
	margin: 8px;
	padding: 10px;
	font-family: KomikaTitle-Regular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	float: left;
	position: relative;

	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

#obstacles li:hover {
	background: #eef13f url(../img/noise-yellow.png) repeat;
	cursor: pointer;
}

#obstacles li img { margin-bottom: 20px; }

#obstacles li a, #obstacles li a:visited {
	color: #fff;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	left: 10px;
	width: 190px;
}

#obstacles li:hover a { color: #fe6638; }

#lg-obstacle {
	width: 412px;
	height: 708px;
	display: inline-block;
	position: relative;
	float: right;
}


<<<<<<< HEAD
#lg-obstacle ul li, #lg-obstacle ul li:hover {
	background: url(../img/bg-slime.png) no-repeat center;
	width: 400px;
	height: 190px;
	display: none;
	position: relative;
	margin: 0 auto;
	border: 0;
	border-radius: 0;
	top: 20px
}

#lg-obstacle ul li#tank {
	display: block;
}
#lg-obstacle li h2, #lg-obstacle li h3 {
	position: relative;
	text-align: center;
	display: block;
	
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, -6deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, -6deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, -6deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, -6deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, -6deg);	
}

#lg-obstacle ul li h2 {
	font-size: 40px;
	top: 10px;
}

#lg-obstacle div {
	background-image: url(../img/sprite-obstacles.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 461px;
	bottom: 0;
}
.tank { background-position: 0 110px; }
.slide { background-position: 0 -435px; }
.wheel { background-position: right -540px; }
.hatch { background-position: right 0; }
.pickit { background-position: 0 bottom; }
.wringer { background-position: right bottom; }


/* Prizes */

#prizes { background: #80b238 url(../img/noise-green.png) repeat; }
#prizes .page { }
#prizes h1 { background-position: 186px bottom; }

#prizes ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#prizes li {
	display: inline-block;
	width: 340px;
	font-size: 16px;
	font-family: KomikaTitle-Regular, Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 20px 50px;
	vertical-align: text-top;
	float: left;
}

#prizes li img { clear: both; }


/* Contestants */

#contestants { border-bottom: none; }
#contestants h1 { background-position: 439px bottom; }

#contestants form {
	width: 425px;
	float: left;
	margin: 10px;
}

#contestants form label {
	text-indent: -99999px;
	display: none;
}

#contestants input {
	background: #fe6636 url(../img/noise-orange.png) repeat;
	border: 0.5px solid #fe6336;
	color: #fff;
	padding: 10px;
	margin: 9px 0;
	width: 380px;
	font-size: 16px;
	font-family: KomikaTitle-Regular, Arial, Helvetica, sans-serif;

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#contestants input:hover { background-color: #ea4f21; }

#contestants input:active, #contestants input:focus {
	background-color: #ea4f21;
	border: 0.5px solid #6bafc5;
	outline: 0;
	
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#contestants form #team-color {
	width: 210px;
	margin-right: 20px;
	float: left;
}

#contestants form #gender {
	width: 125px;
	float: left;
}

#contestants form #submit {
	background: url(../img/sprite-imgs.png) no-repeat 0 -350px;
	border: none;
	width: 228px;
	height: 155px;
	display: inline-block;
	padding: 0;
	margin: 0 0 150px 0;
	left: 90px;
	position: relative;
}

#contestants .left {
	width: 480px;
	display: inline-block;
	float: left;
}

#contestants .right {
	width: 480px;
	display: inline-block;
}

#contestants .right h1 {
	background: none;
	letter-spacing: normal; 
	width: 250px;
	display: block;
	text-align: center;
	margin: 10px auto;
}

#contestants .counter {
	width: 398px;
	height: 336px;
	background: url(../img/sprite-imgs.png) no-repeat 0 0;
	color: #f5eb00;
	font-family: DigitaldreamFat, courier, monotype;
	text-shadow: 1px 1px 0 #000, 3px 3px 0 #000, 5px 5px 0 #000;
	position: relative;
	margin: 0 auto;
}

#contestants .counter span {
	font-size: 130px;
	display: block;
	text-align: center;
	position: relative;
	top: 90px;
}


/* Footer */

footer { overflow: visible; }

footer .page {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	width: 580px;
	top: -20px;
}

footer .kn {
	background: url(../img/sprite-imgs.png) no-repeat -264px -384px;
	position: relative;
	margin: 0 auto;
	font-size: 50px;
	font-family: KomikaTitle-Wide, Arial, Helvetica, sans-serif;
	text-align: center;
	width: auto;
	display: inline-block;
	padding: 12px 32px 12px 40px;
	top: -40px;
	left: 400px;
	z-index: 2;
}

footer h2 {
	text-align: center;
	padding: 0;
	margin: 0;
}

footer p { font-weight: bold; }

footer .left {
	float: left;
	text-align: right;
	width: auto;
	display: inline-block;
}

footer .right {
	float: right;
	width: auto;
	display: inline-block;
}

footer .address {
	width: 310px;
	margin: 0 auto;
}


/* Copyright */

aside {
	text-align: center;
	color: #fff;
	margin: 10px;
}

aside p {
	margin: 0 0 10px;
	font-weight: bold;
}


/* ==|== non-semantic helper classes ========================================*/
.hidden{display:none!important;visibility:hidden;}.visuallyhidden{border:0;clip:rect(0000);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}.invisible{visibility:hidden;}.clearfix:before,.clearfix:after{content:"";display:table;}.clearfix:after{clear:both;}.clearfix{zoom:1;}
/* ==|== print styles =======================================================
Print styles. Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
@media print{*{background:transparent!important;color:#000!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important;}/* Black prints faster: h5bp.com/s */a,a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}/* Don't show links for images, or javascript/internal links */pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}/* h5bp.com/t */tr,img{page-break-inside:avoid;}img{max-width:100%!important;}@page{margin:.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}/* End Print */